/* Fonts Geral */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Bebas Neue", sans-serif;/* Fonte */
    color: #000000; /* Cor da letra */
    background: rgb(218, 216, 214); /* Cor de fundo */
    

}


a:hover { /*pseudo-classe*/
    color: rgb(214, 214, 214);
    text-decoration: none;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: "Bebas Neue", sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: rgb(206, 117, 0); /* fundo Header Vertical */
    transition: all ease-in-out 2s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto;
}

#header .perfil img {
    margin: 15px;
    display: block;
    width: 210px;
    border: 19px solid dashed;
    border-style: dashed;
}