/* Fonts Geral */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Spicy+Rice&display=swap');



body {
    font-family: "Bebas Neue", sans-serif;/* Fonte */
    color: #000000; /* Cor da letra */
    background: rgb(218, 216, 214); /* Cor de fundo */
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


a:hover { /*pseudo-classe*/
    color: rgb(136, 41, 0);
    text-decoration: none;
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: "Bebas Neue", sans-serif;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: rgb(206, 117, 0); /* fundo Header Vertical */
    transition: all ease-in-out 5s;
    z-index: 9999;
    padding: 0 15px;
    overflow-y: auto;
}

#header .perfil img {
    margin: 47px;
    display: block;
    width: 180px;
    border: 3px solid #a04800 ;
    box-shadow: 0px 0px 15px #c94d00d0;
}


.text-light a {
    font-family: "Bebas Neue";
    color: #7c2b00;
    font-size: 30px;
    text-align: center;
}

.text-light a:hover {
    color: rgb(255, 255, 255);
    transition: all .5s;
    
}

#header .perfil .social-links i {
    font-size: 18px;
    color: #a04800;  
    background: blanchedalmond; 
    width: 30px;
    height: 30px;
    border-radius: 28%;
    margin-right: 1px; 
    text-align: center;
    display: inline;
    padding: 5px;
    transition: 0.3s;
}

#header .perfil .social-links i:hover {
    color: #ffffff;
    background: rgb(139, 65, 1);
    transition: all 3s;
}


#main {
    margin-left: 300px;
}

.container,
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

/* Navigation Menu */
/* Desktop Navigation */

.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    top: -9px;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #7c2b00;
    padding: 12px 15px;
    margin-bottom: 1px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus {
    font-size: 24px;
    padding-right: 8px;
    color:#6c2701;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: rgb(61, 23, 0);
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a i{
    color: rgb(61, 23, 0);
}



/* Mobile Menu */

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background: #e87b00;
    color: #631b00;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active #header {
        left: 0;
    }

/* Resolução Mobile*/

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }


    .container,
    .container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

}

/* Hero */

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(https://olhardigital.com.br/wp-content/uploads/2023/11/Gif-astronauta-arco-iris.gif);
    background-size: cover;
    background-position: center;
}

#hero:before {
    content: "";
    background: rgba(33, 37, 154, 0.154);
    position: absolute;
    inset: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 0 260px ;
    font-size: 69px;
    line-height: 50px;
    color: #fff;
    /* background: ; opcional */
    padding: 10px;
    font-family: "Spicy Rice", sans-serif;
}

#hero p{
    color: #edb100;
    margin: 0 0 0 210px ;
    font-size: 30px;
}

#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #003e7c;
} 
